{% extends 'base.html' %}

{% block titulo %}Fluxo de Caixa{% endblock titulo %}

{% block conteudo %}
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>




  <form class="formulario" id="formmulario" action="/caixas/fluxo/" method="POST" role="form">{% csrf_token %}

            
            
    
            <div class="col-sm-4">
                <label for="datetimepicker">Data Inicio</label>
                <div id="datetimepicker" class="input-group date hidden-print">
                   <input type="text" class="form-control" name="data_inicio" value='{{ data_incicio|date:"d/m/Y " }}' placeholder="01/01/2014">
                    <span class="input-group-addon add-on glyphicon glyphicon-calendar"></span>
                </div>
            </div>
    
            <div class="col-sm-4">
              
                <label for="datetimepicker">Data Final</label>
               
                <div id="datetimepicker" class="input-group date hidden-print">
                    <input type="text" class="form-control" name="data_final" value='{{ data_final|date:"d/m/Y " }}' placeholder="01/01/2014">
                    <span class="input-group-addon add-on glyphicon glyphicon-calendar"></span>
                </div>
            </div>


            <div class="col-md-1">
                <br />
                <button type="submit" class="btn btn-primary">Calcular <span class="glyphicon glyphicon-search"></span></button>
            </div>
</form>
<br><br><br>


<div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pessoa</th>
            <th>R$</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
        {% for conta in contas %}
          <tr>
            <td><a href="/caixas/editar/{{ conta.pk }}">{{ conta.pessoa.nome }}</a></td>
            <td>{{ conta.valor }}</td>
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.data|date:"d/m/Y" }}</td>
            <td>{{ conta.tipo }}</td>
          </tr>
        {% endfor %}
        </tbody>
        {% if total_fluxo != NULL and contas|length > 0 %}
        <tfoot>
         <tr class="success">
            <th>TOTAL:</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{ total_fluxo }}</th>
        </tr>
        </tfoot>
        {% endif %}
      </table>
</div><!-- FIM TABELA -->
{% if total_fluxo != NULL and contas|length > 0 %}
 <button type="submit" onClick="window.print()" class="btn btn-info col-md-offset-11 col-sm-1 hidden-print">Print</button>
{% endif %}

{% endblock conteudo %}